* {box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgba(171, 75, 7, 0.774)
}
 

table{
	margin-top: 50px;
	text-align: center;
	background: rgb(248, 8, 8);
	color: #fff;
}
 
#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}